<form action="" id="login" method="POST">
    <input type="text" placeholder="username" id="username">
    <input type="password" placeholder="password" id="password">
    <input type="submit" value="login">
</form>